*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --base:#08a31c;
    --base-100:#27ec52;
    --base-400:#0f8034;
    --base-800:#000;
    
}
body{
   margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

  
    
  
}
.homepg{
    height: 100vh;
  background-image: url(./images/wp2003951-travelling-wallpapers.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width:100%;
  padding: 20px;
}

header{
    


    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content:space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    .logo-holder{
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color:var(--base);
        text-decoration: none;
        
         
            
         
        .logo-text{
         flex: 1;
         color: rgb(10, 10, 10) ;
         text-decoration: none;
         font-weight: 400;
        }
        .logo{
            color: rgb(10, 10, 10);
        }
    }
    nav{
        align-items: center;
      display: flex;
      ul{
        display: flex;
        list-style-type: none;
        gap: 5px;;
        li{
            display: inline-block;
            a{
                display: inline-block;
                text-decoration: none;
                padding: 10px 20px;
                color:  rgb(10, 10, 10);
                &:hover{
                    font-weight: 700;
                    border-radius: 10px;
                    color: rgb(10, 10, 10);
                    
                }
            }
        }
      }
      .mobile-toggle{
        display: none;
      
       padding: 10px;
       @media (max-width:768px){
        display: inline-block;
        position: absolute;
        top:20px;
        right: 20px;
       }
      }
    }
    @media(maxwidth:1024px){
        flex-direction: column;
        align-items: center;
    }
    @media(max-width:768px){
        flex-direction: column;
        align-items: center;
       
        nav{
            margin-top: 10px;
            width: 100%;
            ul{
                display:none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a{
                    width: 100%;
                }
               &.active{
                display: flex;
               }
            }
        }
    }
}


.container{
   
    margin: 0;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    @media(max-width:1440px){
        padding-left: 30px;
        padding-right: 30px;
        
    }
}
.button{
    display: inline-block;
    padding: 10px 30px;
   
    color:  rgb(10, 10, 10);
    border-radius: 10px;
   transition: ease 0.3sec all;
    &:hover{
        text-decoration: none;
        background-color: rgb(72, 72, 168);
    }
   
    &.green{
        background-color: #000069;
        color: white;
        text-decoration: none;
        &:hover{
            background-color: rgb(255, 255, 255);
            color:rgb(0, 0, 0);

        }
    }
}
h1{
    
    line-height: 1;
    margin-bottom: 10px;
    
    font-size: 3rem;
    margin-top: 300px;
    margin-left: 20px;

    span{
      
        
        color:rgb(13, 13, 78);
    }
    @media(max-width:1024px){
        font-size: 48px;
        margin-top: 70px;
        text-align: center;
    }
}

.hero{
    display: flex;
    margin-top: 30px;
    @media(max-width:1024px){
        flex-direction:column;
    }
 
    
            
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a{
                margin-right: 10px;
               margin-bottom: 10px;   
                      
             
            }
        }
        .about .hero-img .img{
            padding: 20px;
        }
    
        .about{
            background-color: #aeb5f5;
            display: flex;
          
            margin: 0;
            images{
                width: 50%;
                flex:1;
              hero-img{
                height: 50px;
              }
            }
               hero-text{
                flex:1;
               width: 50%;
               hero-2{
                display: flex;
               
                saftey{
                flex: 1;
                width: 50%;
               }
               passport{
                width: 50%;
                flex: 1;
               }
            
        } }}
      
.services{
              background-color: #aeb5f5;

    display: flex;
   
  
}
.footer{
    margin: 0;
    padding: 0;
    min-height: 10vh;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: auto;
    padding-top: 80px;
    
    container{
        width: 100%;
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 12px;

    }

}
.wrapper{
    display: flex;
    justify-content: space-between;
    flex: row;
    flex-wrap: wrap;

}
.wrapper .footer-widget .logo-1,.wrapper .footer-widget .logo-im{
    color: rgb(244, 248, 243);
}
.wrapper .footer-widget{
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding:0 12px;

}
.wrapper .footer-widget:nth-child(1){
    width: calc(40% - 50px);
    margin-right: 15px;
}

.wrapper .footer-widget p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(244, 248, 243);
    
}
.wrapper .footer-widget .socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(244, 248, 243);
}
.wrapper .footer-widget .socials li{
    list-style: none;
}
.wrapper .footer-widget .socials li a{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: rgb(244, 248, 243);
    
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;


}
.wrapper .footer-widget h6{
    margin: 10px 0 35px;
    color: rgb(243, 239, 239);
    font-size: 20px;
    font-weight: 600;

}
.wrapper .footer-widget .links li{
    list-style: none;

}
.wrapper .footer-widget .links li a{
    color: rgb(171, 201, 171);
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
   
}
@media(max-width:992px) {
    .container{
        max-width: 960px;
        .wrapper .footer-widget ,.wrapper .footer-widget:nth-child(1){
            width:calc(50% - 30px);
        }
    }
}
@media(max-width:768px) {
    .container{
        max-width: 720px;
        .wrapper .footer-widget ,.wrapper .footer-widget:nth-child(1){
            width:100%;
            margin: 0 10px 50px;
        }
    }
}